@page
@model GalleryModel
@using System.IO;
@{
    ViewData["Title"] = "Gallery";
}

<div class="container">
@{
    foreach (var strFile in @Model.FilesNames)
    {
        var path = @Url.Content("~/images/gallery/" + strFile);
        <a data-fancybox="gallery" href="@path"><img src="@path" width="200"></a>
    }   
}
</div>
    